{% extends 'plantilla.html' %}

{% load static %}

{% block section %}

{% endblock section %}

{% block maincontent %}
    <br>
        <h3>CALCULADORA iRF</h3><br>
        <ul class="list-group">
        <li class="list-group-item" data-toggle="collapse" data-target="#demo">DOBLE SINTONIA</li>
      	<div id="demo" class="collapse">
        	<br>
			<form class="form-horizontal" role="form">
			<div class="form-group">
				<label for="f1" class="col-sm-2 control-label">f1(en MHz):</label>
				<div class="col-sm-9">
				<input type="text" class="form-control" id="f1">
				</div>
			</div>
			<div class="form-group">
				<label for="f2" class="col-sm-2 control-label">f2(en MHz):</label>
				<div class="col-sm-9">
				<input type="text" class="form-control" id="f2">
				</div>
			</div>
			<div class="form-group">
				<label for="z1" class="col-sm-2 control-label">z1(en Ohm):</label>
				<div class="col-sm-9">
				<input type="text" class="form-control" id="z1">
				</div>
			</div>
			<div class="form-group">
				<label for="z2" class="col-sm-2 control-label">z2(en Ohm):</label>
				<div class="col-sm-9">
				<input type="text" class="form-control" id="z2">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"><button type="submit" class="btn" name="dobleS">Calcular</button></label>
				<label for="z1" class="col-sm-2 control-label">Resultado:</label>
				<div class="col-sm-7">
				<input type="text" class="form-control" id="dobleS">
				</div>
			</div>
			</form>
     		<br><br>
     	</div>
     	<li class="list-group-item" data-toggle="collapse" data-target="#demo1">TRAMPA DUPLEXOR</li>
      	<div id="demo1" class="collapse">
        	<br>
        	<form class="form-horizontal" role="form">
			<div class="form-group">
				<label for="f1" class="col-sm-2 control-label">f1(en MHz):</label>
				<div class="col-sm-9">
				<input type="text" class="form-control" id="f1">
				</div>
			</div>
			<div class="form-group">
				<label for="f2" class="col-sm-2 control-label">f2(en MHz):</label>
				<div class="col-sm-9">
				<input type="text" class="form-control" id="f2">
				</div>
			</div>
			<div class="form-group">
				<label for="q" class="col-sm-2 control-label">Q:</label>
				<div class="col-sm-9">
				<input type="text" class="form-control" id="q">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"><button type="submit" class="btn" name="trampaD">Calcular</button></label>
				<label for="z1" class="col-sm-2 control-label">Resultado:</label>
				<div class="col-sm-7">
				<input type="text" class="form-control" id="trampaD">
				</div>
			</div>
			</form>
     		<br><br>
     	</div>
     	<li class="list-group-item" data-toggle="collapse" data-target="#demo2">UNIDAD DE SINTONIA</li>
      	<div id="demo2" class="collapse">
        	<br>
        	<form class="form-horizontal" role="form">
			<div class="form-group">
				<label for="F" class="col-sm-2 control-label">F(en MHz):</label>
				<div class="col-sm-9">
				<input type="text" class="form-control" id="F">
				</div>
			</div>
			<div class="form-group">
				<label for="ri" class="col-sm-2 control-label">Rin(en Ohm):</label>
				<div class="col-sm-9">
				<input type="text" class="form-control" id="ri">
				</div>
			</div>
			<div class="form-group">
				<label for="ra" class="col-sm-2 control-label">Rant(en Ohm):</label>
				<div class="col-sm-9">
				<input type="text" class="form-control" id="ra">
				</div>
			</div>
			<div class="form-group">
				<label for="xa" class="col-sm-2 control-label">Xant(en Ohm):</label>
				<div class="col-sm-9">
				<input type="text" class="form-control" id="xa">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"><button type="submit" class="btn" name="unidadS">Calcular</button></label>
				<label for="z1" class="col-sm-2 control-label">Resultado:</label>
				<div class="col-sm-7">
				<input type="text" class="form-control" id="unidadS">
				</div>
			</div>
			</form>
     		<br><br>
     	</div>
     	<li class="list-group-item" data-toggle="collapse" data-target="#demo3">REACTANCIA/COMPONENTE</li>
      	<div id="demo3" class="collapse">
        	<br>
        	<form class="form-horizontal" role="form">
			<div class="form-group">
				<label for="F" class="col-sm-2 control-label">Frecuencia(en MHz):</label>
				<div class="col-sm-9">
				<input type="text" class="form-control" id="F">
				</div>
			</div>
			<div class="form-group">
				<label for="R" class="col-sm-2 control-label">Reactancia(en Ohm):</label>
				<div class="col-sm-9">
				<input type="text" class="form-control" id="R">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"><button type="submit" class="btn" name="reactancia">Calcular</button></label>
				<label for="z1" class="col-sm-2 control-label">Resultado:</label>
				<div class="col-sm-7">
				<input type="text" class="form-control" id="reactancia">
				</div>
			</div>
			</form>
     		<br><br>
     	</div>
     	</ul>
{% endblock maincontent %}
